<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>

    <% if current_user %>
    <div class="row">

      <%= form_for [@product, @review], html: {class: ""} do |f| %>
        <div class="form-group">
          <h4>Comment:</h4>
          <%= f.text_area :description, class: "form-control" %>
        </div>

        <div class="form-group">
          <h4>Rating:</h4>
          <%= f.select(:rating, [1, 2, 3, 4, 5], {}, class: "form-control form-control-sm") %><br />
        </div>

        <%= f.submit 'Add Review', class: "btn-sm btn-primary mb-2" %>
      <% end %>
    </div>
    <% end %>

    <div class="row">

      <h3>Reviews</h3>
      <table class="table table-bordered table-hover">
        <thead>
          <th>User</th>
          <th>Description</th>
          <th>Rating</th>
        </thead>
          <tbody>
            <%= render @product.reviews.reverse %>
          </tbody>
      </table>
    </div>

  </article>

</section>
